@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root{
   --main-color:#1f232a;
   --primary-color: #2eb6ce;
   --black:#222;
   --white:#fff;
   --bg: #f2f2f2;
   --light-black:#666;
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}




/* programação */

.programação{
    background: var(--bg);
    padding-bottom: 100px;
    font-size:10px;
    
}

.programação .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding-top: 15px;
    padding: 3rem 4%;
   
    
}

.programação .box-container .box{
    padding: 2rem;
    text-align: center;
    border: 0.1rem solid var(--main-color);
    border-color: #2eb6ce;
    box-shadow: var(--box-shadow);
}

.programação .box-container .box img{
    height: 10rem;
    margin-bottom: 1rem;
}

.programação .box-container .box h3{
    font-size: 1.2rem;
    color: #2eb6ce;
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.programação .box-container .box p{
    font-size: 15px;
    color: var(--light-black);
    line-height: 2;
    margin-bottom: 25px;
   
}


  

/* responsivel*/ 


